body {
  margin: 0;
  font-family: sans-serif;
}


/*image background*/
body {
  /* Image */
  background-image: url("image\ background.jpg");

  background-attachment: fixed;

  background-position: center;

  background-size: cover;

  background-repeat: no-repeat;

    z-index: -500;
}





/*navbar css*/
.navbar-dark {
    background-color:#38eb91;
    color: #ffc947;
    padding:10px;
}

.nav-link,.navbar-brand {
    color: #ffc947 !important;

}
.nav-link:hover{
    color: #c6ffd3 !important;
}
.navbar-dark .fa-bars{
    color:#47d4ff;

}

.navbar-dark .navbar-collapse{
    margin:0px  0px 0px 0px;
}
.navbar-dark {
    background-color:#675999f6; /*couleur banière navbar*/
    color: #ffc947;
    padding:10px;
}

.nav-link,.navbar-brand {
    color: #ffc947 !important;

}
.nav-link:hover{
    color: rgb(121, 121, 255) !important;

}
.navbar-dark .fa-bars{
    color:#ffc947;

}

.navbar-dark .navbar-collapse{
    margin:0px  0px 0px 0px;
}


.navbar {
  z-index: 10; /* hauteur navbar */
}



#topbar {
  position: fixed;
  top: 0%;
  left: 10%;
  width: 80%;
  background: #222;
  color: white;
  padding: 1em;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;

    border-radius: 10px;

}



#topbar.visible {
  transform: translateY(0);
}

/*distance bloc haut*/
.content {
  padding-top: 20px;
}



html {
  scroll-behavior: smooth;
}




.navbar-nav {
  display: flex;       
  flex-direction: row; 
}

.nav-item {
  margin-right: 15px; 

}

.ContainerMain{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  height: 200px;

}

    .rectangle {
   height: 330vw; /*taille rectangle visible*/
    width: 80%;
    background-color: rgb(18, 22, 24);
    opacity: 0.99;
    border-radius: 10px;
      z-index: -5000;
      margin:10%;
    }

    .rectangleiInsideYourMind {
   height: 330vw; /*taille rectangle invisible*/
       margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    }

.banière{
    width: 100%;
    opacity:0.8;
  object-fit:cover;
  display:block;
  border-radius: 5px;
}



    .TexteMain{
  color: rgb(209, 221, 255); /*couleur texte*/
  padding:0%;
  font-size:2vw;
  text-indent: 2em;
    }

    .TitrePartie{
 color: rgb(194, 241, 255); /*couleur titre*/
 padding: 6%;
 font-size: 3.5vw;
  font-family: "Georgia", serif;
  text-decoration: underline;
    }

.gridItem{

display:grid;
  grid-template-columns: 1fr 1fr 1fr !important ;
  gap: 3vw;
padding: 0%;
margin: 0%;
    border-radius: 3px;
}

.gridItemBoss{

display:grid;
  grid-template-columns: 1fr 1fr !important ;
  gap: 3vw;
padding: 0%;
margin: 0%;
    border-radius: 3px;
}


.gridCase{
    background-color:rgb(31, 31, 36);
    z-index: 1000;
    border-radius: 5px;
    border: 5px solid rgb(170, 193, 224); /*couleur bordure*/
    font-family: "Georgia", serif;
    text-decoration: underline rgba(194, 194, 199, 0.916); /*couleur soulignement*/
    opacity: 1 !important;
}

.gridCenter{
  align-items: center;
}

.center{
    text-align: center;
}




.item{
color: rgb(198, 192, 253); /*texte case*/
font-size:2vw;
}

.item img{
 width: 100%;
  height: auto;    
  border-radius: 5px;
}

.RetourALaLigne{
display: flex;
  gap: 7vw; 
  flex-wrap: wrap; 

}